<h3 class="welcome">Books by <%=@author.name%>:</h3>

<ul class="options_lists">
  <% @author.books.each do |b| %>
    <li><a href="/books/<%=b.slug%>"><%=b.title%></a></li>
  <%end%>
</ul>

<a class="btn btn-primary" href="/books/new-from-author/<%=@author.slug%>">Add New Book by <%=@author.name%></a><br>

<% if current_user.username == "admin" %>
  <a class="btn btn-danger" href="/authors/<%=@author.slug%>/delete">Delete author entry from application</a>
<% end %>
