<% if @user.books.empty? %>
  <h2 class="welcome">Welcome, <%=@user.name%>!</h2>
  <p class="instructions">It looks like you don't have any books added to your reading list yet.<p>
<% else %>
  <h2 class="welcome"><%=@user.name%>'s reading list:</h2>
    <ul class="options_lists">
      <% @user.books.each do |book|%>
      <li><a href="/books/<%=book.slug%>"><%= book.title%></a> by <a href="/authors/<%=book.author.slug%>"><%=book.author.name%></a></li>
      <% end %>
    </ul>
<% end %>

<br><br><br>
<a class="btn btn-danger" href="/users/<%=@user.slug%>/delete">Delete Account</a>

<br><br>
