<h3><%= @book.title %></h3>
<h3><a href="/authors/<%=@book.author.slug%>"><%= @book.author.name %></a></h3>
<p><%= @book.summary %></p>

<% if !@book.user_ids.include?(current_user.id) %>
  <a href="/users/add-book">Add Book to your Reading List</a><br><br>
<% end %>

<% if current_user.id == @book.creator_id %>
  <p><a href="/books/<%=@book.slug%>/edit">Edit Book</a> | <a href="/books/<%=@book.slug%>/delete>">Delete Book from your Reading List</a><br><br>
<% end %>
