<h3><%= @book.title %></h3>
<h5>By <a href="/authors/<%=@book.author.slug%>"><%= @book.author.name %></a></h5>
<p><%= @book.summary %></p><br>

<% if !@book.user_ids.include?(current_user.id) %>
  <a href="/books/<%=@book.slug%>/add">Add Book to your Reading List</a><br>
<% end %>

<% if current_user.id == @book.creator_id %>
  <p><a href="/books/<%=@book.slug%>/edit">Edit Book</a><br>
<% end %>

<% if current_user.books.include?(@book) %>
  <a href="/books/<%=@book.slug%>/delete">Delete Book from your Reading List</a><br><br>
<% end %>
